.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
}
.cart-product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-product img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.cart-info{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.btn button{
    width: 50%;
    height: 30px;
    background-color: antiquewhite;
     border: 2px solid cadetblue;
     margin-top: 10px;
     border-radius: 8px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
.btn button:hover{
    cursor: pointer;
}

.choose-item img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.choose-item{
    display: flex;
    align-items: center;
}
